@model SistemaCC.Models.Usuario
@{
    ViewData["Title"] = "Modificar usuario";
}
<div class="seccion">
    <h1>Modificar usuario</h1>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="principal">
        <div class="campos campos_tres">
            <div class="campos_ultimos">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control mayusculas", type = "text", placeholder = "Nombre", maxLength = "50", required = "required" } })
            </div>
            <div class="campos_ultimos">
                @Html.EditorFor(model => model.ApePaterno, new { htmlAttributes = new { @class = "form-control mayusculas", type = "text", placeholder = "Apellido paterno", maxLength = "50", required = "required" } })
            </div>
            <div class="campos_ultimos">
                @Html.EditorFor(model => model.ApeMaterno, new { htmlAttributes = new { @class = "form-control mayusculas", type = "text", placeholder = "Apellido materno", maxLength = "50", required = "required" } })
            </div>
        </div>
        <div class="campos campos_tres">
            <div class="campos campos_dos">
                <div class="campos_ultimos">
                    <label>Extensión:</label>
                </div>
                <div class="campos_ultimos">
                    @Html.EditorFor(model => model.NoExt, new { htmlAttributes = new { @class = "form-control", type = "text", placeholder = "# # #", maxlength = "3", pattern = "[0-9]{3}", title = "El formato son 3 números, no admite ótros símbolos. Ejem: 158, 298, 092" } })
                </div>
            </div>
            <div class="campos_ultimos" style="text-align: right">
                <label>Email:</label>
            </div>
            <div class="campos_ultimos">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", placeholder = "nombre.apellido@eutelsat.com.mx", pattern = ".+@[g][m][a][i][l][.][c][o][m]", title = "El dominio admintido es: @eutelsat.com", required = "required" } })
                @*@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email", placeholder = "nombre.apellido@eutelsat.com.mx", pattern = ".+@[e][u][t][e][l][s][a][t][.][c][o][m]", title = "El dominio admitido es: @eutelsat.com", required = "required" } })*@
                <span class="text-danger">@ViewData["ME1"]</span>
            </div>
        </div>
        <div class="campos campos_tres">
            <div class="campos_ultimos">
                <label>Roles:</label>
            </div>
        </div>
        <div class="campos campos_tres">
            <div class="campos_ultimos"></div>
            @{
                int vacios = 0; // cuenta los roles que no corresponden al usuario y los resta para la validación en js
                int llenos = 0; // cuenta los roles que SI pertenecen al usuario
                foreach (var rol in ViewBag.Roles)
                {
                    if (rol[2] == "1")
                    {
                        llenos += 1;
                        <div class="campos_ultimos">
                            <input id="@(ViewBag.Roles.IndexOf(rol) - vacios)" name="rol_actual" type="checkbox" checked />
                            @rol[1]
                            <input type="text" name="rol_input_actual" class="rol_input_actual" value="@rol[0]" hidden />
                        </div>
                    }
                    else
                    {
                        vacios += 1;
                    <div class="campos_ultimos">
                        <input id="@(ViewBag.Roles.IndexOf(rol)-llenos)" name="rol" type="checkbox">
                        @rol[1]
                        <input type="text" class="rol_input" value="@rol[0]" hidden />
                    </div>
                        }
                    }
                }
        </div>
        <div id="warning" class="alert alert-warning mensaje" role="alert">
            @ViewData["MA"]
        </div>
        <div class="campos campos_dos">
            <div class="campos campos_dos">
                <div class="campos_ultimos"></div>
                <div class="campos_submit">
                    <a href="Index" class="btn btn-light">Cancelar</a>
                </div>
            </div>
            <div class="campos campos_dos">
                <div class="campos_submit">
                    <input class="btn btn-dark" type="submit" value="Modificar" />
                </div>
            </div>
        </div>
    </div>
}
@section Scripts
{
    <script>
        $(document).ready(function () {
            var check = document.getElementsByName("rol")
            for (var i = 0; i < check.length; i++) {
                check[i].addEventListener("change", setNombre, false)
            }
            var check2 = document.getElementsByName("rol_actual")
            for (var i = 0; i < check2.length; i++) {
                check2[i].addEventListener("change", setNombreActual, false)
            }
            $(".fancybox").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    thumbs: {
                        width: 100,
                        height: 25
                    }
                }
            });
        });
    </script>
}