
@{
    ViewData["Title"] = "Usuarios";
}
    <div class="row">
        @if (ViewData["MC"] != "")
        {
            <div class="alert alert-success mensaje" role="alert">
                @ViewData["MC"]
            </div>
        }
        @if (ViewData["ME"] != "")
        {
            <div class="alert alert-danger mensaje" role="alert">
                @ViewData["ME"]
            </div>
        }
        <div class="col-md-12 seccion_contenedor">
            <div class="seccion">
                <h1>Usuarios</h1>
            </div>
            <div class="seccion_boton">
                <a class="btn btn-success" href="~/Usuarios/Crear"><span class="icon-plus-square"></span> Crear</a>
            </div>
        </div>
        <table id="datos" class="table table-hover">
            <thead class="thead-info">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th class="link"></th>
                    <th class="link"></th>
                    <th class="link"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dato in ViewBag.datos)
                {
                    <tr>
                        <td>@dato.Nombre</td>
                        <td>@dato.ApePaterno</td>
                        <td>@dato.Email</td>
                        <td class="link">
                            <a class="fancybox fancybox.ajax" href="~/Usuarios/Ver?id=@dato.Id_U"><span class="icon-eye"></span></a>
                        </td>
                        <td class="link">
                            <a class="fancybox fancybox.ajax" href="~/Usuarios/Editar?id=@dato.Id_U"><span class="icon-edit"></span></a>
                        </td>
                        @if (dato.Activo == true)
                        {
                            <td class="link">
                                <span class="icon-unlock"></span> @Html.ActionLink("Bloquear", "Bloquear", new { id = dato.Id_U })
                            </td>
                        }
                        else
                        {
                            <td class="link">
                                <span class="icon-lock"></span> @Html.ActionLink("Desbloquear", "Desbloquear", new { id = dato.Id_U })
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

@section Scripts
{ 
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    thumbs: {
                        width: 100,
                        height: 25
                    }
                }
            });
            $('#datos').DataTable({
                "pagingType": "numbers"
            });
        });
    </script>
}

