
@{
    ViewBag.Title = "Index";
}
    <div class="row">
        @if (ViewData["MC"].ToString() != "")
        {
            <div class="alert alert-success mensaje" role="alert">
                @ViewData["MC"]
            </div>
        }
        @if (ViewData["MA"].ToString() != "")
        {
            <div class="alert alert-warning mensaje" role="alert">
                @ViewData["MA"]
            </div>
        }
        @if (ViewData["ME"].ToString() != "")
        {
            <div class="alert alert-danger mensaje" role="alert">
                @ViewData["ME"]
            </div>
        }
        <div class="col-md-12 seccion_contenedor">
            <div class="seccion">
                <h1>Tiempo máximo en autorizar</h1>
            </div>
            @if (ViewData["NavRol"].ToString() == "Admin")
            {
                <div class="seccion_boton">
                    <a class="btn btn-success fancybox fancybox.ajax" href="~/Monitoreo/Crear/?tipo=Tiempo"><span class="icon-plus-square"></span> Nuevo</a>
                </div>
            }
        </div>
        <div class="campos campos_dos">
            <div class="campos campos_tres">
                <div class="campos campos_dos_kai">
                    <div class="regla-actual" style="width:50%">&ensp;</div>
                    <div class="campos_ultimos">Regla actual</div>
                </div>
            </div>
        </div>
        @if (ViewBag.Tiempos.Count > 0)
        {
            <table id="datos1" class="table table-hover">
                <thead class="thead-info">
                    <tr>
                        <th>Fecha</th>
                        <th>Creador</th>
                        <th>Días</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dato in ViewBag.Tiempos as IEnumerable<SistemaCC.Models.Monitoreo>)
                    {
                        if (ViewBag.Tiempos.IndexOf(dato) == 0)
                        {
                            <tr class="regla-actual">
                                <td>@dato.Fecha.ToString().Substring(0, 10)</td>
                                <td>@dato.Usuario.Nombre @dato.Usuario.ApePaterno @dato.Usuario.ApeMaterno</td>
                                <td>@dato.Cantidad</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@dato.Fecha.ToString().Substring(0, 10)</td>
                                <td>@dato.Usuario.Nombre @dato.Usuario.ApePaterno @dato.Usuario.ApeMaterno</td>
                                <td>@dato.Cantidad</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        @if (ViewBag.Tiempos.Count == 0)
        {
            <h5 class="text-center">
                <span class="badge badge-secondary">No hay tiempos</span>
            </h5>
        }
    <div class="col-md-12 seccion_contenedor">
        <div class="seccion">
            <h1>Cantidad máxima de controles de cambio en ejecución</h1>
        </div>
        @if (ViewData["NavRol"].ToString() == "Admin")
        {
            <div class="seccion_boton">
                <a class="btn btn-success fancybox fancybox.ajax" href="~/Monitoreo/Crear/?tipo=Cantidad"><span class="icon-plus-square"></span> Nuevo</a>
            </div>
        }
    </div>
        <div class="campos campos_dos">
            <div class="campos campos_tres">
                <div class="campos campos_dos_kai">
                    <div class="regla-actual" style="width:50%">&ensp;</div>
                    <div class="campos_ultimos">Regla actual</div>
                </div>
            </div>
        </div>
        @if (ViewBag.Cantidad.Count > 0)
        {
            <table id="datos2" class="table table-hover">
                <thead class="thead-info">
                    <tr>
                        <th>Fecha</th>
                        <th>Creador</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dato in ViewBag.Cantidad as IEnumerable<SistemaCC.Models.Monitoreo>)
                    {
                        if (ViewBag.Cantidad.IndexOf(dato) == 0)
                        {
                            <tr class="regla-actual">
                                <td>@dato.Fecha.ToString().Substring(0, 10)</td>
                                <td>@dato.Usuario.Nombre @dato.Usuario.ApePaterno @dato.Usuario.ApeMaterno</td>
                                <td>@dato.Cantidad</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>@dato.Fecha.ToString().Substring(0, 10)</td>
                                <td>@dato.Usuario.Nombre @dato.Usuario.ApePaterno @dato.Usuario.ApeMaterno</td>
                                <td>@dato.Cantidad</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        @if (ViewBag.Cantidad.Count == 0)
        {
            <h5 class="text-center">
                <span class="badge badge-secondary">No hay cantidades</span>
            </h5>
        }
    </div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    thumbs: {
                        width: 50,
                        height: 25
                    }
                },
                tpl : {
                    closeBtn : '<a title="Cerrar" class="fancybox-item fancybox-close" href="javascript:;"></a>'
                }
            });
            $('.table').DataTable({
                "pagingType": "numbers",
                "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                        }
            });
            load('none')
        });
    </script>
}

