
@{
    ViewBag.Title = "Contraseña";
    Layout = "./../Shared/_LayoutLogin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="login" class="login">
        <div></div>
        <div id="card" class="card">
            <div class="card-body">
                <div class="campos_contrasena">
                    @if (ViewData["Paso"].ToString() == "Paso1")
                    {
                        <div class="campos_ultimos">
                            <label>Contraseña nueva:</label>
                        </div>
                        <div class="campos_ultimos">
                            <input id="nueva" name="contrasena_nueva" class="form-control" type="password" placeholder="Contraseña nueva" minlength="12" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$!%*.?&])([A-Za-z\d$!%*?&.]|[^ ])+" title="La contraseña debe tener al menos una letra mayúscula, una letra minuscula, un número y algún caracter especial (.,-#$%¡?¿!&=)" oninvalid="load('none');" required />
                            <div class="show-contrasena" onclick="showContrasena('nueva')">
                                <span id="nueva-span" class="icon-eye"></span>
                            </div>
                            <span class="text-danger">@ViewData["ME5"]</span>
                        </div>
                        <div class="campos_ultimos">
                            <label>Confirmar Contraseña:</label>
                        </div>
                        <div class="campos_ultimos">
                            <input id="confirmar" name="contrasena_confirmar" class="form-control" type="password" placeholder="Confirmar contraseña" oninvalid="load('none');" required />
                            <div class="show-contrasena" onclick="showContrasena('confirmar')">
                                <span id="confirmar-span" class="icon-eye"></span>
                            </div>
                            <span class="text-danger">@ViewData["ME14"]</span>
                        </div>
                        <div class="campos_ultimos text-center">
                            <input type="submit" class="btn btn-dark" onclick="load('block');" value="Verificar" name="Paso1" />
                        </div>
                    }
                    @if (ViewData["Paso"].ToString() == "Paso2")
                    {
                        <div class="campos_ultimos">
                            <label>Contraseña nueva:</label>
                        </div>
                        <div class="campos_ultimos">
                            <input id="nueva" name="contrasena_nueva" class="form-control" type="password" placeholder="Contraseña nueva" value="@ViewData["nueva"]" disabled />
                            <span class="text-success">Contraseña válida</span>
                        </div>
                        <div class="campos_ultimos">
                            <label>Código:</label>
                        </div>
                        <div class="campos_ultimos">
                            <input name="codigo" class="form-control" type="text" placeholder="Código" oninvalid="load('none');" required />
                        </div>
                        <div class="campos_ultimos text-center">
                            <input type="submit" class="btn btn-dark" onclick="load('block');" value="Cambiar" name="Paso2" />
                        </div>
                    }
                    @if (ViewData["Paso"].ToString() == "PasoE")
                    {
                        <div class="campos_ultimos">
                            <label>Contraseña nueva:</label>
                        </div>
                        <div class="campos_ultimos">
                            <input id="nueva" name="contrasena_nueva" class="form-control" type="password" placeholder="Contraseña nueva" value="@ViewData["nueva"]" disabled />
                            <span class="text-success">Contraseña válida</span>
                        </div>
                        <span class="text-danger">@ViewData["ME17"]</span>
                        <div class="campos_ultimos text-center">
                            <input id="PasoE" type="submit" name="PasoE" hidden />
                            <label>Enviar nuevo código:</label>
                            <a class="btn btn-info submit-reenviar" onclick="load('block'); reenviarEmail()">
                                <span class="icon-refresh-cw"></span>
                            </a>
                        </div>
                    }
                    @if (ViewData["Paso"].ToString() == "Exito")
                    {
                        <span class="text-success">@ViewData["MC4"]</span>
                        <span class="text-success">@ViewData["MC3"]</span>
                        <div class="campos_ultimos text-center">
                            Para poder continuar, inicie sesión:<br/>
                            <a class="login-link" href="./../Home/Login">Login</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
@section Scripts
{
    <script>
        $(document).ready(function () {
            var login = document.getElementById("login")
            var card = document.getElementById("card")
            var padding = (parseInt(login.style.height) - parseInt(card.style.height)) / 2
            login.style.paddingTop = padding + 'px'
            load('none')
        });
        $(document).on("submit", "form", function (e) {
            $(nueva).removeAttr('disabled')
        })
    </script>
}
