
@{
    ViewData["Title"] = "ServiciosAplicaciones";
}
<div class="row">
    @if (ViewData["MC"] != "")
    {
        <div class="alert alert-success mensaje" role="alert">
            @ViewData["MC"]
        </div>
    }
    @if (ViewData["ME"] != "")
    {
        <div class="alert alert-danger mensaje" role="alert">
            @ViewData["ME"]
        </div>
    }
    <div class="col-md-12 seccion_contenedor">
        <div class="seccion">
            <h1>Servicios y aplicaciones</h1>
        </div>
        <div class="seccion_boton">
            <a class="btn btn-success" href="~/ServApp/Crear"><span class="icon-plus-square"></span> Crear</a>
        </div>
    </div>
    <table id="datos" class="table table-hover">
        <thead class="thead-info">
            <tr>
                <th>Acronimo</th>
                <th>Responsable</th>
                <th class="link"></th>
                <th class="link"></th>
                <th class="link"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dato in ViewBag.datos as IEnumerable<SistemaCC.Models.ServiciosAplicaciones>)
            {
                <tr>
                    <td>@dato.Acronimo</td>
                    <td>@dato.Usuario.Nombre @dato.Usuario.ApePaterno @dato.Usuario.ApeMaterno</td>
                    <td class="link">
                        <a class="fancybox fancybox.ajax" href="Ver?id=@dato.Id_SA"><span class="icon-eye"></span></a>
                    </td>
                    <td class="link">
                        <a href="~/ServApp/Editar/@dato.Id_SA"><span class="icon-edit"></span></a>
                    </td>
                    @if (dato.Activo == true)
                    {
                        <td class="link">
                            <span class="icon-unlock"></span> @Html.ActionLink("Bloquear", "Bloquear", new { id = dato.Id_SA })
                        </td>
                    }
                    else
                    {
                        <td class="link">
                            <span class="icon-lock"></span> @Html.ActionLink("Desbloquear", "Desbloquear", new { id = dato.Id_SA })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    thumbs: {
                        width: 50,
                        height: 25
                    }
                },
                tpl : {
                    closeBtn : '<a title="Cerrar" class="fancybox-item fancybox-close" href="javascript:;"></a>'
                }
            });
            $('#datos').DataTable({
                "pagingType": "numbers",
                "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                        }
            });
        });
    </script>
}
