@model SistemaCC.Models.ControlCambio
@{
    ViewData["Title"] = "Crear";
}
<div class="col-md-12 seccion">
    <h1>Nuevo control del cambio</h1>
</div>
@using (Html.BeginForm("Crear", "ControlCambio", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="accordion" id="accordionFormulario">
        <div class="card">
            <div class="card-header" id="Titulo1">
                <h2 class="mb-0">
                    <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#Section1" aria-expanded="true" aria-controls="Section1">
                        Información General
                    </button>
                </h2>
            </div>
            <div id="Section1" class="collapse show" aria-labelledby="Titulo1" data-parent="#accordionFormulario">
                <div id="max_fila" class="card-body">
                    <div class="campos campos_dos_kai">
                        <div class="campos_ultimos">
                            <label>Titulo:</label>
                        </div>
                    </div>
                    <div class="campos">
                        <div class="campos_ultimos">
                            @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control contador", type = "text", placeholder = "Titulo", maxLength = "150", title = "Sólo se admiten 150 caracteres como máximo, de ingresar más, se capturarán los primeros 150", onkeyup = "contar('0','contador', 'conteo-')", oninvalid = "error_campos(1)", required = "required" } })
                        </div>
                        <div id="conteo-0" class="campos_ultimos conteo">
                            <div>Caracteres: 0/150</div>
                        </div>
                    </div>
                    <div class="campos campos_dos">
                        <div class="campos campos_dos_kai">
                            <div class="campos_ultimos">
                                <label>Fecha de ejecuión:</label>
                            </div>
                            <div class="campos_ultimos">
                                @Html.EditorFor(model => model.FechaEjecucion, new { htmlAttributes = new { @class = "form-control", type = "date", oninvalid = "error_campos(1)", required = "required" } })
                            </div>
                        </div>
                        <div class="campos campos_dos_kai">
                            <div class="campos_ultimos">
                                <label>Tipo:</label>
                            </div>
                            <div class="campos_ultimos">
                                <select name="tipo" class="form-control" oninvalid = "error_campos(1)" required="required">
                                    <option value="">Seleccione...</option>
                                    <option value="Programado">Programado</option>
                                    <option value="Emergente">Emergente</option>
                                    <option value="Estandar">Estandar</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="campos campos_dos_kai">
                        <div class="campos_ultimos">
                            <label>Objetivo(s):</label>
                        </div>
                    </div>
                    <div class="campos">
                        <div class="campos_ultimos">
                            @Html.TextAreaFor(model => model.Objetivos, new { @class = "form-control contador", placeholder = "Ejem. 1.- Verbo (ar, er, ir) [complemento]", maxLength = "500", title = "Sólo se admiten 500 caracteres como máximo, de ingresar más, se capturarán los primeros 500", rows = "4", onkeyup = "contar('1', 'contador', 'conteo-')", oninvalid = "error_campos(1)", required = "required" })
                        </div>
                        <div id="conteo-1" class="campos_ultimos conteo">
                            <div>Caracteres: 0/500</div>
                        </div>
                    </div>
                    <div class="campos campos_dos_kai">
                        <div class="campos_ultimos">
                            <label>Introducción:</label>
                        </div>
                    </div>
                    <div class="campos">
                        <div class="campos_ultimos">
                            @Html.TextAreaFor(model => model.Introduccion, new { @class = "form-control contador", placeholder = "Redacta aquí...", maxLength = "500", title = "Sólo se admiten 500 caracteres como máximo, de ingresar más, se capturararán los primeros 500", rows = "4", onkeyup = "contar('2', 'contador', 'conteo-')", oninvalid = "error_campos(1)", required = "required" })
                        </div>
                        <div id="conteo-2" class="campos_ultimos conteo">
                            <div>Caracteres: 0/500</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Titulo2">
                <h2 class="mb-0">
                    <button class="btn btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#Seccion2" aria-expanded="false" aria-controls="Seccion2">
                        Actividades y limitantes
                    </button>
                </h2>
            </div>
            <div id="Seccion2" class="collapse" aria-labelledby="Titulo2" data-parent="#accordionFormulario">
                <div class="card-body">
                    <div style="display: none">
                        <select id="usuarios2">
                            <option value="">Select...</option>
                            @foreach (var usuario in ViewBag.usuarios as IEnumerable<SistemaCC.Models.Usuario>)
                            {
                                <option value="@usuario.Id_U">@usuario.Nombre @usuario.ApePaterno @usuario.ApeMaterno</option>
                            }
                        </select>
                    </div>
                    <div style="display: none">
                        <select id="servicios">
                            <option value="">Select...</option>
                            @foreach (var servapp in ViewBag.servicios)
                            {
                                <option value="@servapp.Id_SA">@servapp.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="campos campos_dos">
                        <div class="campos_ultimos seccion">
                            <label>Actividades previas del control de cambio</label>
                        </div>
                        <div class="campos_ultimos seccion_boton">
                            <a id="actividad_agregar" class="btn btn-info" onclick="actividad_agregar('0'); return false"><span class="icon-plus-square"></span></a>
                        </div>
                    </div>
                    <div id="actividades_contenedor"></div>
                    <div class="campos campos_dos">
                        <div class="campos_ultimos seccion">
                            <label>Actividades del control de cambio</label>
                        </div>
                        <div class="campos_ultimos seccion_boton">
                            <a id="actividad_cc_agregar" class="btn btn-info" onclick="actividad_cc_agregar('0'); return false"><span class="icon-plus-square"></span></a>
                        </div>
                    </div>
                    <div id="actividades_cc_contenedor"></div>
                    <div class="campos campos_dos">
                        <div class="campos_ultimos seccion">
                            <label>Servicios afectados por el control de cambio</label>
                        </div>
                        <div class="campos_ultimos seccion_boton">
                            <a id="servicio_agregar" class="btn btn-info" onclick="servicio_agregar('0'); return false"><span class="icon-plus-square"></span></a>
                        </div>
                    </div>
                    <div id="servicio_contenedor"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Titulo3">
                <h2 class="mb-0">
                    <button class="btn btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#Seccion3" aria-expanded="false" aria-controls="Seccion3">
                        Riesgos
                    </button>
                </h2>
            </div>
            <div id="Seccion3" class="collapse" aria-labelledby="Titulo3" data-parent="#accordionFormulario">
                <div class="card-body">
                    <div class="campos campos_dos">
                        <div class="campos_ultimos seccion">
                            <label>Riesgos del control de cambio</label>
                        </div>
                        <div class="campos_ultimos seccion_boton">
                            <a id="riesgo_agregar" class="btn btn-info" onclick="riesgo_agregar('0'); return false"><span class="icon-plus-square"></span></a>
                        </div>
                    </div>
                    <div id="riesgos_contenedor"></div>
                    <div class="campos campos_dos">
                        <div class="campos_ultimos seccion">
                            <label>Riesgos de no ejecutar el control de cambio</label>
                        </div>
                        <div class="campos_ultimos seccion_boton">
                            <a id="riesgo_no_agregar" class="btn btn-info" onclick="riesgo_no_agregar('0'); return false"><span class="icon-plus-square"></span></a>
                        </div>
                    </div>
                    <div id="riesgos_no_contenedor"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Titulo4">
                <h2 class="mb-0">
                    <button class="btn btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#Seccion4" aria-expanded="false" aria-controls="Seccion4">
                        Anexos
                    </button>
                </h2>
            </div>
            <div id="Seccion4" class="collapse" aria-labelledby="Titulo4" data-parent="#accordionFormulario">
                <div class="card-body">
                    <div class="campos campos_dos">
                        <div class="campos_ultimos seccion">
                            <label>Adjuntar archivos</label>
                        </div>
                        <div class="campos_ultimos seccion_boton">
                            <a id="adjunto_agregar" class="btn btn-info" onclick="adjunto_agregar('0'); return false"><span class="icon-file-plus"></span></a>
                        </div>
                    </div>
                    <div id="adjuntos_contenedor"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="campos campos_dos mt-3">
        <div class="campos campos_dos">
            <div class="campos_ultimos"></div>
            <div class="campos_submit">
                <a href="~/Home/Index" class="btn btn-light">Cancelar</a>
            </div>
        </div>
        <div class="campos campos_dos">
            <div class="campos_submit">
                <input class="btn btn-dark" type="submit" value="Crear" />
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    thumbs: {
                        width: 50,
                        height: 25
                    }
                },
                lang: "es",
                i18n: {
                    es: {
                        CLOSE: "Cerrar",
                        NEXT: "Siguiente",
                        PREV: "Anterior",
                        ERROR: "La petición no pudo ser cargada. <br/> Intenta de nuevo más tarde.",
                        PLAY_START: "Iniciar presentación",
                        PLAY_STOP: "Pausar",
                        FULL_SCREEN: "Pantalla completa",
                        THUMBS: "Thumbnails",
                        DOWNLOAD: "Descargar",
                        SHARE: "Compartir",
                        ZOOM: "Zoom"
                    }
                }
            });
        })
        $(document).on("submit", "form", function (e) {
            $('.contar-act-desc').val(function (i, text) {
                return text.concat("&")
            })
            $('.contar-act-obs').val(function (i, text) {
                return text.concat("&")
            })
            $('.contar-act_cc-desc').val(function (i, text) {
                return text.concat("&")
            })
            $('.contar-act_cc-obs').val(function (i, text) {
                return text.concat("&")
            })
            $('.contar-riesgo-desc').val(function (i, text) {
                return text.concat("&")
            })
            $('.contar-riesgo_no-desc').val(function (i, text) {
                return text.concat("&")
            })
        })
    </script>
}

