@model  SistemaCC.Models.Revisiones
@{
    ViewData["Title"] = "Revisar";
}
<div class="col-md-12 seccion">
    <h1>Información Control del cambio para REVISAR</h1>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="accordion" id="accordionFormulario">
        <div class="card">
            <div class="card-header" id="Titulo1">
                <h2 class="mb-0">
                    <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#Section1" aria-expanded="true" aria-controls="Section1">
                        Información General
                    </button>
                </h2>
            </div>
            <div id="Section1" class="collapse show" aria-labelledby="Titulo1" data-parent="#accordionFormulario">
                <div id="max_fila" class="card-body">
                    <div class="campos_ultimos nota nota_general mb-1">
                        @Html.TextAreaFor(model => model.InfGeneral, new { @class = "form-control contador", rows = "5", placeholder = "Observación...", maxlength = "150", onkeyup = "contar('0', 'contador','conteo-')" })
                    </div>
                    <div id="conteo-0" class="campos_ultimos conteo mb-2">
                        <div>Caracteres: 0/150</div>
                    </div>
                    <div class="campos campos_dos_kai">
                        <div class="campos_ultimos">
                            <label>Titulo:</label>
                        </div>
                        <div class="campos_ultimos campo-ver">
                            @ViewBag.Informacion.Titulo
                        </div>
                    </div>
                    <div class="campos campos_dos">
                        <div class="campos campos_dos">
                            <div class="campos_ultimos">
                                <label>Fecha de ejecuión:</label>
                            </div>
                            <div class="campos_ultimos campo-ver">
                                @ViewBag.Informacion.FechaEjecucion.ToString().Substring(0, 10)
                            </div>
                        </div>
                        <div class="campos campos_dos_kai">
                            <div class="campos_ultimos">
                                <label>Tipo:</label>
                            </div>
                            <div class="campos_ultimos campo-ver">
                                @ViewBag.Informacion.Tipo
                            </div>
                        </div>
                    </div>
                    <div class="campos campos_dos_kai">
                        <div class="campos_ultimos">
                            <label>Objetivo(s):</label>
                        </div>
                    </div>
                    <div class="campos">
                        <div class="campos_ultimos campo-ver">
                            @ViewBag.Informacion.Objetivos
                        </div>
                    </div>
                    <div class="campos campos_dos_kai">
                        <div class="campos_ultimos">
                            <label>Introducción:</label>
                        </div>
                    </div>
                    <div class="campos">
                        <div class="campos_ultimos campo-ver">
                            @ViewBag.Informacion.Introduccion
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Titulo2">
                <h2 class="mb-0">
                    <button class="btn btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#Section2" aria-expanded="false" aria-controls="Section2">
                        Actividades y limitantes
                    </button>
                </h2>
            </div>
            <div id="Section2" class="collapse" aria-labelledby="Titulo2" data-parent="#accordionFormulario">
                <div class="card-body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a id="Link1" class="nav-link active LActLim" href="#" onclick="tabs('1','SActLim', 'LActLim'); ocultar_mostrar_nota('nota_servicios', 'nota_actividades'); return false">Actividades</a>
                        </li>
                        <li class="nav-item">
                            <a id="Link2" class="nav-link inactivo" href="#" onclick="tabs('2','SActLim', 'LActLim'); ocultar_mostrar_nota('nota_servicios', 'nota_actividades'); return false">CC Actividades</a>
                        </li>
                        <li class="nav-item">
                            <a id="Link3" class="nav-link inactivo" href="#" onclick="tabs('3', 'SActLim', 'LActLim'); ocultar_mostrar_nota('nota_actividades', 'nota_servicios'); return false">Limitantes</a>
                        </li>
                    </ul>
                    <div class="campos campos_dos" style="margin-top: 2%">
                        <div id="Seccion1" class="campos_ultimos seccion-activa SActLim">
                            <div class="campos_ultimos seccion">
                                <label>Actividades previas del control de cambio</label>
                            </div>
                            <div id="actividades_contenedor">
                                @foreach (var act in ViewBag.Actividades_Prev as IEnumerable<SistemaCC.Models.Actividades>)
                                {
                                    <div class="campos campos_dos_kai">
                                        <div class="campos_ultimos numeracion">
                                            A@(ViewBag.Actividades_Prev.IndexOf(act) + 1)
                                        </div>
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <label>Descripción:</label>
                                            </div>
                                            <div class="campos_ultimos campo-ver">
                                                @act.Descripcion
                                            </div>
                                            <div class="campos_ultimos">
                                                <div class="campos_ultimos">
                                                    <label>Observaciones:</label>
                                                </div>
                                                <div class="campos_ultimos campo-ver">
                                                    @act.Observaciones
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="campos campos_dos_kai">
                                        <div class="campos_ultimos"></div>
                                        <div class="campos campos_dos">
                                            <div class="campos_ultimos">
                                                <div class="campos_ultimos">
                                                    <label>Fecha:</label>
                                                </div>
                                                <div class="campos_ultimos campo-ver">
                                                    @act.FechaRealizacion.ToString().Substring(0, 10)
                                                </div>
                                            </div>
                                            <div class="campos_ultimos">
                                                <div class="campos_ultimos">
                                                    <label>Responsable</label>
                                                </div>
                                                <div class="campos_ultimos campo-ver">
                                                    @act.Usuario.Nombre @act.Usuario.ApePaterno @act.Usuario.ApeMaterno
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (ViewBag.Actividades_Prev.Count == 0)
                                {
                                    <h5 class="text-center">
                                        <span class="badge badge-secondary">No contiene actividades</span>
                                    </h5>
                                }
                            </div>
                        </div>
                        <div id="Seccion2" class="campos_ultimos seccion-inactiva">
                            <div class="campos_ultimos seccion">
                                <label>Actividades del control de cambio</label>
                            </div>
                            <div id="actividades_cc_contenedor">
                                @foreach (var act in ViewBag.Actividades_CC as IEnumerable<SistemaCC.Models.Actividades>)
                                {
                                    <div class="campos campos_dos_kai">
                                        <div class="campos_ultimos numeracion">
                                            A@(ViewBag.Actividades_CC.IndexOf(act) + 1)
                                        </div>
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <label>Descripción:</label>
                                            </div>
                                            <div class="campos_ultimos campo-ver">
                                                @act.Descripcion
                                            </div>
                                            <div class="campos_ultimos">
                                                <div class="campos_ultimos">
                                                    <label>Observaciones:</label>
                                                </div>
                                                <div class="campos_ultimos campo-ver">
                                                    @act.Observaciones
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="campos campos_dos_kai">
                                        <div class="campos_ultimos"></div>
                                        <div class="campos campos_dos">
                                            <div class="campos_ultimos">
                                                <div class="campos_ultimos">
                                                    <label>Fecha:</label>
                                                </div>
                                                <div class="campos_ultimos campo-ver">
                                                    @act.FechaRealizacion.ToString().Substring(0, 10)
                                                </div>
                                            </div>
                                            <div class="campos_ultimos">
                                                <div class="campos_ultimos">
                                                    <label>Responsable</label>
                                                </div>
                                                <div class="campos_ultimos campo-ver">
                                                    @act.Usuario.Nombre @act.Usuario.ApePaterno @act.Usuario.ApeMaterno
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (ViewBag.Actividades_CC.Count == 0)
                                {
                                    <h5 class="text-center">
                                        <span class="badge badge-secondary">No contiene actividades</span>
                                    </h5>
                                }
                            </div>
                        </div>
                        <div id="nota_actividades" class="campos_ultimos">
                            <div class="nota">
                                @Html.TextAreaFor(model => model.Actividades, new { @class = "form-control contador", rows = "5", placeholder = "Observaciones de actividades...", maxlength = "150", onkeyup = "contar('1', 'contador','conteo-')" })
                            </div>
                            <div id="conteo-1" class="campos_ultimos conteo mb-2">
                                <div>Caracteres: 0/150</div>
                            </div>
                        </div>
                    </div>
                    <div class="campos campos_dos">
                        <div id="Seccion3" class="campos_ultimos seccion-inactiva">
                            <div class="campos_ultimos seccion">
                                <label>Servicios afectados por el control de cambio</label>
                            </div>
                            <div id="servicio_contenedor">
                                @foreach (var ser in ViewBag.Servicios as IEnumerable<SistemaCC.Models.ControlServicio>)
                                {
                                    <div class="campos campos_dos_kai">
                                        <div class="campos_ultimos numeracion">
                                            S@(ViewBag.Servicios.IndexOf(ser) + 1)
                                        </div>
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <div class="campos_ultimos">
                                                    <label>Nombre:</label>
                                                </div>
                                                <div class="campos_ultimos campo-ver">
                                                    @ser.ServiciosAplicaciones.Nombre
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="campos campos_dos_kai">
                                        <div class="campos_ultimos"></div>
                                        <div class="campos campos_dos">
                                            <div class="campos_ultimos">
                                                <div class="campos_ultimos">
                                                    <label>Fecha inicio:</label>
                                                </div>
                                                <div class="campos_ultimos campo-ver">
                                                    @ser.FechaInicio.ToString().Substring(0, 10)
                                                </div>
                                            </div>
                                            <div class="campos_ultimos">
                                                <div class="campos_ultimos">
                                                    <label>Fecha final:</label>
                                                </div>
                                                <div class="campos_ultimos campo-ver">
                                                    @ser.FechaFinal.ToString().Substring(0, 10)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (ViewBag.Servicios.Count == 0)
                                {
                                    <h5 class="text-center">
                                        <span class="badge badge-secondary">No contiene limitantes</span>
                                    </h5>
                                }
                            </div>
                        </div>
                        <div id="nota_servicios" class="campos_ultimos" style="display: none">
                            <div class="nota">
                                @Html.TextAreaFor(model => model.Servicios, new { @class = "form-control contador", rows = "5", placeholder = "Observaciones de limitantes...", maxlength = "150", onkeyup = "contar('2', 'contador','conteo-')" })
                            </div>
                            <div id="conteo-2" class="campos_ultimos conteo mb-2">
                                <div>Caracteres: 0/150</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Titulo3">
                <h2 class="mb-0">
                    <button class="btn btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#Section3" aria-expanded="false" aria-controls="Section3">
                        Riesgos
                    </button>
                </h2>
            </div>
            <div id="Section3" class="collapse" aria-labelledby="Titulo3" data-parent="#accordionFormulario">
                <div class="card-body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a id="LinkRiesgo1" class="nav-link active LRiesgo" href="#" onclick="tabs('Riesgo1','SRiesgo', 'LRiesgo'); return false">CC Riesgos</a>
                        </li>
                        <li class="nav-item">
                            <a id="LinkRiesgo2" class="nav-link inactivo" href="#" onclick="tabs('Riesgo2', 'SRiesgo', 'LRiesgo'); return false">Riesgos</a>
                        </li>
                    </ul>
                    <div class="campos campos_dos">
                        <div id="SeccionRiesgo1" class="seccion-activa SRiesgo">
                            <div class="campos_ultimos seccion">
                                <label>Riesgos del control de cambio</label>
                            </div>
                            <div id="riesgos_contenedor">
                                @foreach (var r in ViewBag.Riesgos_CC)
                                {
                                    <div class="campos campos_dos_kai">
                                        <div class="campos_ultimos numeracion">
                                            R@(ViewBag.Riesgos_CC.IndexOf(r) + 1)
                                        </div>
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <div class="campos_ultimos">
                                                    <label>Descripción:</label>
                                                </div>
                                                <div class="campos_ultimos campo-ver">
                                                    @r.Descripcion
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (ViewBag.Riesgos_CC.Count == 0)
                                {
                                    <h5 class="text-center">
                                        <span class="badge badge-secondary">No contiene riesgos</span>
                                    </h5>
                                }
                            </div>
                        </div>
                        <div id="SeccionRiesgo2" class="seccion-inactiva">
                            <div class="campos_ultimos seccion">
                                <label>Riesgos de no ejecutar el control de cambio</label>
                            </div>
                            <div id="riesgos_no_contenedor">
                                @foreach (var r in ViewBag.Riesgos_No)
                                {
                                    <div class="campos campos_dos_kai">
                                        <div class="campos_ultimos numeracion">
                                            R@(ViewBag.Riesgos_No.IndexOf(r) + 1)
                                        </div>
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <div class="campos_ultimos">
                                                    <label>Descripción:</label>
                                                </div>
                                                <div class="campos_ultimos campo-ver">
                                                    @r.Descripcion
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                @if (ViewBag.Riesgos_No.Count == 0)
                                {
                                    <h5 class="text-center">
                                        <span class="badge badge-secondary">No contiene riesgos</span>
                                    </h5>
                                }
                            </div>
                        </div>
                        <div id="nota_riesgos" class="campos_ultimos">
                            <div class="nota">
                                @Html.TextAreaFor(model => model.Riesgos, new { @class = "form-control contador", rows = "5", placeholder = "Observaciones de riesgos...", maxlength = "150", onkeyup = "contar('3', 'contador','conteo-')" })
                            </div>
                            <div id="conteo-3" class="campos_ultimos conteo mb-2">
                                <div>Caracteres: 0/150</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Titulo4">
                <h2 class="mb-0">
                    <button class="btn btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#Section4" aria-expanded="false" aria-controls="Section4">
                        Anexos
                    </button>
                </h2>
            </div>
            <div id="Section4" class="collapse" aria-labelledby="Titulo4" data-parent="#accordionFormulario">
                <div class="card-body">
                    <div class="campos campos_dos">
                        <div class="campos_ultimos seccion">
                            <label>Imagenes adjuntas</label>
                        </div>
                        <div class="campos_ultimos seccion">
                            <label>Documentos adjuntos</label>
                        </div>
                    </div>
                    <div id="adjuntos_contenedor">
                        <dic class="campos campos_dos">
                            <div class=campos_ultimos>
                                @foreach (var doc in ViewBag.Documentos_imagenes)
                                {
                                    <div class="campos campos_dos_kai">
                                        <div class="campos_ultimos numeracion">
                                            IA@(ViewBag.Documentos_imagenes.IndexOf(doc) + 1)
                                        </div>
                                        <div class="campos_ultimos">
                                            <a class="fancybox-thumb" rel="fancybox-thumb" href="~/Archivos/CC_@doc.fk_CC/Adjuntos/@doc.DocPath">
                                                <img src="~/Archivos/CC_@doc.fk_CC/Adjuntos/@doc.DocPath" width="35%" />
                                            </a>
                                        </div>
                                    </div>
                                }
                                @if (ViewBag.Documentos_imagenes.Count == 0)
                                {
                                    <h5 class="text-center">
                                        <span class="badge badge-secondary">No contiene imagenes adjuntas</span>
                                    </h5>
                                }
                            </div>
                            <div class=campos_ultimos>
                                @foreach (var doc in ViewBag.Documentos_pdf)
                                {
                                    <div class="campos campos_dos_kai">
                                        <div class="campos_ultimos numeracion">
                                            DA@(ViewBag.Documentos_pdf.IndexOf(doc) + 1)
                                        </div>
                                        <div class="campos_ultimos pt-2">
                                            <a class="fancybox2 fancybox.iframe" href="~/Archivos/CC_@doc.fk_CC/Adjuntos/@doc.DocPath">
                                                @doc.DocPath
                                            </a>
                                        </div>
                                    </div>
                                }
                                @if (ViewBag.Documentos_pdf.Count == 0)
                                {
                                    <h5 class="text-center">
                                        <span class="badge badge-secondary">No contiene documentos adjuntos</span>
                                    </h5>
                                }
                            </div>
                        </dic>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ME1" class="alert alert-danger mensaje mt-1" role="alert" style="display: none">
        @ViewData["ME1"]
    </div>
    <div id="ME2" class="alert alert-danger mensaje mt-1" role="alert" style="display: none">
        @ViewData["ME2"]
    </div>
    <div class="campos campos_tres mt-3">
        <input id="submit" type="submit" hidden />
        <div class="campos_ultimos text-right">
            <a href="~/Home/Index" class="btn btn-light">Cancelar</a>
        </div>
        <div class="campos_submit">
            <a href="#" class="btn btn-secondary" onclick="revisarSubmit('corregir'); return false">Corregir</a>
        </div>
        <div class="campos_submit text-left">
            <a href="#" class="btn btn-dark" onclick="revisarSubmit('aprobar'); return false">Aprobar</a>
        </div>
    </div>
}
@section Scripts
{
    <script>
        $(document).ready(function () {
            $(".fancybox-thumb").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    thumbs: {
                        width: 50,
                        height: 50
                    }
                },
                tpl : {
                    closeBtn : '<a title="Cerrar" class="fancybox-item fancybox-close" href="javascript:;"></a>',
                    next: '<a title="Siguiente" class="fancybox-nav fancybox-next"><span></span></a>',
                    prev: '<a title="Anterior" class="fancybox-nav fancybox-prev"><span></span></a>'
                }
            });
        });
        $(document).ready(function () {
            $(".fancybox2").fancybox({
                fitToView: false,
                width: '100%',
                height: '600',
                autoSize: false,
                closeClick: false,
                openEffect: 'none',
                closeEffect: 'none',
                type: 'iframe',
                tpl : {
                    closeBtn : '<a title="Cerrar" class="fancybox-item fancybox-close" href="javascript:;"></a>'
                }
            });
        });
        $(document).ready(function () {
            $(".fancybox").fancybox({
                prevEffect: 'none',
                nextEffect: 'none',
                helpers: {
                    title: {
                        type: 'outside'
                    },
                    thumbs: {
                        width: 50,
                        height: 25
                    }
                },
                tpl : {
                    closeBtn : '<a title="Cerrar" class="fancybox-item fancybox-close" href="javascript:;"></a>'
                }
            });
    </script>
}
