
@{
    ViewData["Title"] = "Ver";
}
<div class="col-md-12 seccion">
    <h1>Información Control del cambio</h1>
</div>
@using (Html.BeginForm("Crear", "ControlCambio", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="accordion" id="accordionFormulario">
        <div class="card">
            <div class="card-header" id="Titulo1">
                <h2 class="mb-0">
                    <button class="btn btn-collapse" type="button" data-toggle="collapse" data-target="#Section1" aria-expanded="true" aria-controls="Section1">
                        Información General
                    </button>
                </h2>
            </div>
            <div id="Section1" class="collapse show" aria-labelledby="Titulo1" data-parent="#accordionFormulario">
                <div id="max_fila" class="card-body">
                    <div class="campos campos_dos_kai">
                        <div class="campos_ultimos">
                            <label>Titulo:</label>
                        </div>
                        <div class="campos_ultimos">
                            @ViewBag.Informacion.Titulo
                        </div>
                    </div>
                    <div class="campos campos_dos">
                        <div class="campos campos_dos">
                            <div class="campos_ultimos">
                                <label>Fecha de ejecuión:</label>
                            </div>
                            <div class="campos_ultimos">
                                @ViewBag.Informacion.FechaEjecucion.ToString().Substring(0,10)
                            </div>
                        </div>
                        <div class="campos campos_dos_kai">
                            <div class="campos_ultimos">
                                <label>Tipo:</label>
                            </div>
                            <div class="campos_ultimos">
                                @ViewBag.Informacion.Tipo
                            </div>
                        </div>
                    </div>
                    <div class="campos campos_dos_kai">
                        <div class="campos_ultimos">
                            <label>Objetivo(s):</label>
                        </div>
                    </div>
                    <div class="campos">
                        <div class="campos_ultimos">
                            @ViewBag.Informacion.Objetivos
                        </div>
                    </div>
                    <div class="campos campos_dos_kai">
                        <div class="campos_ultimos">
                            <label>Introducción:</label>
                        </div>
                    </div>
                    <div class="campos">
                        <div class="campos_ultimos">
                            @ViewBag.Informacion.Introduccion
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Titulo2">
                <h2 class="mb-0">
                    <button class="btn btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#Section2" aria-expanded="false" aria-controls="Section2">
                        Actividades y limitantes
                    </button>
                </h2>
            </div>
            <div id="Section2" class="collapse" aria-labelledby="Titulo2" data-parent="#accordionFormulario">
                <div class="card-body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a id="Link1" class="nav-link active LActLim" href="#" onclick="tabs('1','SActLim', 'LActLim'); return false">Actividades</a>
                        </li>
                        <li class="nav-item">
                            <a id="Link2" class="nav-link inactivo" href="#" onclick="tabs('2','SActLim', 'LActLim'); return false">CC Actividades</a>
                        </li>
                        <li class="nav-item">
                            <a id="Link3" class="nav-link inactivo" href="#" onclick="tabs('3','SActLim', 'LActLim'); return false">Limitantes</a>
                        </li>
                    </ul>
                    <div id="Seccion1" class="seccion-activa SActLim">
                        <div class="campos campos_dos">
                            <div class="campos_ultimos seccion">
                                <label>Actividades previas del control de cambio</label>
                            </div>
                        </div>
                        <div id="actividades_contenedor">
                            @foreach (var act in ViewBag.Actividades_Prev as IEnumerable<SistemaCC.Models.Actividades>)
                            {
                                <div class="campos campos_dos_kai">
                                    <div class="campos_ultimos numeracion">
                                        A@(ViewBag.Actividades_Prev.IndexOf(act) + 1)
                                    </div>
                                    <div class="campos_ultimos">
                                        <div class="campos_ultimos">
                                            <label>Descripción:</label>
                                        </div>
                                        <div class="campos_ultimos campo-ver">
                                            @act.Descripcion
                                        </div>
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <label>Observaciones:</label>
                                            </div>
                                            <div class="campos_ultimos campo-ver">
                                                @act.Observaciones
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="campos campos_dos_kai">
                                    <div class="campos_ultimos"></div>
                                    <div class="campos campos_dos">
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <label>Fecha:</label>
                                            </div>
                                            <div class="campos_ultimos campo-ver">
                                                @act.FechaRealizacion.ToString().Substring(0, 10)
                                            </div>
                                        </div>
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <label>Responsable</label>
                                            </div>
                                            <div class="campos_ultimos campo-ver">
                                                @act.Usuario.Nombre @act.Usuario.ApePaterno @act.Usuario.ApeMaterno
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (ViewBag.Actividades_Prev.Count == 0)
                            {
                                <h6 class="text-center">
                                    <span class="badge badge-info">No contiene actividades</span>
                                </h6>
                            }
                        </div>
                    </div>
                    <div id="Seccion2" class="seccion-inactiva">
                        <div class="campos campos_dos">
                            <div class="campos_ultimos seccion">
                                <label>Actividades del control de cambio</label>
                            </div>
                        </div>
                        <div id="actividades_cc_contenedor">
                            @foreach (var act in ViewBag.Actividades_CC as IEnumerable<SistemaCC.Models.Actividades>)
                            {
                                <div class="campos campos_dos_kai">
                                    <div class="campos_ultimos numeracion">
                                        A@(ViewBag.Actividades_CC.IndexOf(act) + 1)
                                    </div>
                                    <div class="campos_ultimos">
                                        <div class="campos_ultimos">
                                            <label>Descripción:</label>
                                        </div>
                                        <div class="campos_ultimos campo-ver">
                                            @act.Descripcion
                                        </div>
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <label>Observaciones:</label>
                                            </div>
                                            <div class="campos_ultimos campo-ver">
                                                @act.Observaciones
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="campos campos_dos_kai">
                                    <div class="campos_ultimos"></div>
                                    <div class="campos campos_dos">
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <label>Fecha:</label>
                                            </div>
                                            <div class="campos_ultimos campo-ver">
                                                @act.FechaRealizacion.ToString().Substring(0, 10)
                                            </div>
                                        </div>
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <label>Responsable</label>
                                            </div>
                                            <div class="campos_ultimos campo-ver">
                                                @act.Usuario.Nombre @act.Usuario.ApePaterno @act.Usuario.ApeMaterno
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (ViewBag.Actividades_CC.Count == 0)
                            {
                                <h6 class="text-center">
                                    <span class="badge badge-info">No contiene actividades</span>
                                </h6>
                            }
                        </div>
                    </div>
                    <div id="Seccion3" class="seccion-inactiva">
                        <div class="campos campos_dos">
                            <div class="campos_ultimos seccion">
                                <label>Servicios afectados por el control de cambio</label>
                            </div>
                        </div>
                        <div id="servicio_contenedor">
                            @foreach (var ser in ViewBag.Servicios as IEnumerable<SistemaCC.Models.ControlServicio>)
                            {
                                <div class="campos campos_dos_kai">
                                    <div class="campos_ultimos numeracion">
                                        S@(ViewBag.Servicios.IndexOf(ser) + 1)
                                    </div>
                                    <div class="campos_ultimos">
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <label>Nombre:</label>
                                            </div>
                                            <div class="campos_ultimos campo-ver">
                                                @ser.ServiciosAplicaciones.Nombre
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="campos campos_dos_kai">
                                    <div class="campos_ultimos"></div>
                                    <div class="campos campos_dos">
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <label>Fecha inicio:</label>
                                            </div>
                                            <div class="campos_ultimos campo-ver">
                                                @ser.FechaInicio.ToString().Substring(0, 10)
                                            </div>
                                        </div>
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <label>Fecha final:</label>
                                            </div>
                                            <div class="campos_ultimos campo-ver">
                                                @ser.FechaFinal.ToString().Substring(0, 10)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if(ViewBag.Servicios.Count == 0)
                            {
                            <h6 class="text-center">
                                <span class="badge badge-info">No contiene limitantes</span>
                            </h6>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Titulo3">
                <h2 class="mb-0">
                    <button class="btn btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#Section3" aria-expanded="false" aria-controls="Section3">
                        Riesgos
                    </button>
                </h2>
            </div>
            <div id="Section3" class="collapse" aria-labelledby="Titulo3" data-parent="#accordionFormulario">
                <div class="card-body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a id="LinkRiesgo1" class="nav-link active LRiesgo" href="#" onclick="tabs('Riesgo1','SRiesgo', 'LRiesgo'); return false">CC Riesgos</a>
                        </li>
                        <li class="nav-item">
                            <a id="LinkRiesgo2" class="nav-link inactivo" href="#" onclick="tabs('Riesgo2', 'SRiesgo', 'LRiesgo'); return false">Riesgos</a>
                        </li>
                    </ul>
                    <div id="SeccionRiesgo1" class="seccion-activa SRiesgo">
                        <div class="campos campos_dos">
                            <div class="campos_ultimos seccion">
                                <label>Riesgos del control de cambio</label>
                            </div>
                        </div>
                        <div id="riesgos_contenedor">
                            @foreach (var r in ViewBag.Riesgos_CC)
                            {
                                <div class="campos campos_dos_kai">
                                    <div class="campos_ultimos numeracion">
                                        R@(ViewBag.Riesgos_CC.IndexOf(r) + 1)
                                    </div>
                                    <div class="campos_ultimos">
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <label>Descripción:</label>
                                            </div>
                                            <div class="campos_ultimos campo-ver">
                                                @r.Descripcion
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (ViewBag.Riesgos_CC.Count == 0)
                            {
                                <h6 class="text-center">
                                    <span class="badge badge-info">No contiene riesgos</span>
                                </h6>
                            }
                        </div>
                    </div>
                    <div id="SeccionRiesgo2" class="seccion-inactiva">
                        <div class="campos campos_dos">
                            <div class="campos_ultimos seccion">
                                <label>Riesgos de no ejecutar el control de cambio</label>
                            </div>
                        </div>
                        <div id="riesgos_no_contenedor">
                            @foreach (var r in ViewBag.Riesgos_No)
                            {
                                <div class="campos campos_dos_kai">
                                    <div class="campos_ultimos numeracion">
                                        R@(ViewBag.Riesgos_No.IndexOf(r) + 1)
                                    </div>
                                    <div class="campos_ultimos">
                                        <div class="campos_ultimos">
                                            <div class="campos_ultimos">
                                                <label>Descripción:</label>
                                            </div>
                                            <div class="campos_ultimos campo-ver">
                                                @r.Descripcion
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (ViewBag.Riesgos_No.Count == 0)
                            {
                                <h6 class="text-center">
                                    <span class="badge badge-info">No contiene riesgos</span>
                                </h6>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="Titulo4">
                <h2 class="mb-0">
                    <button class="btn btn-collapse collapsed" type="button" data-toggle="collapse" data-target="#Section4" aria-expanded="false" aria-controls="Section4">
                        Anexos
                    </button>
                </h2>
            </div>
            <div id="Section4" class="collapse" aria-labelledby="Titulo4" data-parent="#accordionFormulario">
                <div class="card-body">
                    <div class="campos campos_dos">
                        <div class="campos_ultimos seccion">
                            <label>Adjuntar archivos</label>
                        </div>
                    </div>
                    <div id="adjuntos_contenedor">
                        @foreach(var doc in ViewBag.Documentos)
                        {
                            <a class="" href="@doc">
                                @doc
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts
{
    <script>
        $(document).ready(function() {
	        $(".fancybox-thumb").fancybox({
		        prevEffect	: 'none',
		        nextEffect	: 'none',
		        helpers	: {
			        title	: {
				        type: 'outside'
			        },
			        thumbs	: {
				        width	: 50,
				        height	: 50
			        }
		        }
	        });
        });
    </script>
}
